Service References/wsInsereFacturaSAP/configsl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ConfigSL">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ConfigSL_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZISQ_WS_CUST_ORDER_PROVIDER">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>0050560114251EEAA8986D349A1FD0E4</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZisqCreateCustOrder">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:tns="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char24">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="char17">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="17" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZisqSHdrSalesOrder">
        <xsd:sequence>
          <xsd:element name="DocType" type="n0:char4" />
          <xsd:element name="SalesOrg" type="n0:char4" />
          <xsd:element name="Division" type="n0:char2" />
          <xsd:element name="DistrChan" type="n0:char2" />
          <xsd:element name="SalesOff" type="n0:char4" />
          <xsd:element name="PartnNumb" type="n0:char10" />
          <xsd:element name="Pmnttrms" type="n0:char4" />
          <xsd:element name="ZpurchDate" type="n0:char10" />
          <xsd:element name="PurchNoC" type="n0:char35" />
          <xsd:element name="Bname" type="n0:char35" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZisqSItmSalesOrder">
        <xsd:sequence>
          <xsd:element name="PartnNumb" type="n0:char10" />
          <xsd:element name="ItmNumber" type="n0:numeric6" />
          <xsd:element name="Material" type="n0:char18" />
          <xsd:element name="ShortText" type="n0:char40" />
          <xsd:element name="ReqQty" type="tns:char17" />
          <xsd:element name="CondValue" type="tns:char30" />
          <xsd:element name="WbsElem" type="n0:char24" />
          <xsd:element name="SalesDist" type="n0:char6" />
          <xsd:element name="Zfkdat" type="n0:char10" />
          <xsd:element name="Fproz" type="tns:char6" />
          <xsd:element name="Fakwr" type="tns:char20" />
          <xsd:element name="Dtpserv" type="tns:char20" />
          <xsd:element name="Posex" type="n0:char6" />
          <xsd:element name="TextTab" type="tns:ZisqTIntordtx" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZisqSIntordtx">
        <xsd:sequence>
          <xsd:element name="Tplin" type="n0:char2" />
          <xsd:element name="Textl" type="n0:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZisqSMessage">
        <xsd:sequence>
          <xsd:element name="MessageType" type="n0:char1" />
          <xsd:element name="MessageCode" type="n0:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZisqTItmSalesOrder">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZisqSItmSalesOrder" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZisqTIntordtx">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZisqSIntordtx" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZisqTMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZisqSMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZisqCreateCustOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IsHdrSalesOrder" type="tns:ZisqSHdrSalesOrder" />
            <xsd:element name="ItItmSalesOrder" type="tns:ZisqTItmSalesOrder" />
            <xsd:element minOccurs="0" name="IvFaksp" type="n0:char2" />
            <xsd:element minOccurs="0" name="IvTest" type="n0:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZisqCreateCustOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EtMessages" type="tns:ZisqTMessage" />
            <xsd:element name="EvOrder" type="n0:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZisqCreateCustOrder">
    <wsdl:part name="parameters" element="tns:ZisqCreateCustOrder" />
  </wsdl:message>
  <wsdl:message name="ZisqCreateCustOrderResponse">
    <wsdl:part name="parameter" element="tns:ZisqCreateCustOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ZISQ_WS_CUST_ORDER_PROVIDER">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZISQ_WS_CUST_ORDER_PROVIDER" />
    </wsp:Policy>
    <wsdl:operation name="ZisqCreateCustOrder">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZisqCreateCustOrder" />
      </wsp:Policy>
      <wsdl:input message="tns:ZisqCreateCustOrder" />
      <wsdl:output message="tns:ZisqCreateCustOrderResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigSL" type="tns:ZISQ_WS_CUST_ORDER_PROVIDER">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ConfigSL" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZisqCreateCustOrder">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZISQ_WS_CUST_ORDER_PROVIDER:ZisqCreateCustOrderRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigSL_soap12" type="tns:ZISQ_WS_CUST_ORDER_PROVIDER">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ConfigSL_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZisqCreateCustOrder">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZISQ_WS_CUST_ORDER_PROVIDER:ZisqCreateCustOrderRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_SALESORDER_PROV_SERVICE">
    <wsdl:port name="ConfigSL" binding="tns:ConfigSL">
      <soap:address location="http://CLDSAPQAL01.isq.local:8000/sap/bc/srt/rfc/sap/zisq_ws_cust_order_provider/500/zws_salesorder_prov_service/configsl" />
    </wsdl:port>
    <wsdl:port name="ConfigSL_soap12" binding="tns:ConfigSL_soap12">
      <wsoap12:address location="http://CLDSAPQAL01.isq.local:8000/sap/bc/srt/rfc/sap/zisq_ws_cust_order_provider/500/zws_salesorder_prov_service/configsl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>