Service References/WebServicePSI/ProposalService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://PSI.Internal.WCF/WCFServices/Proposal" elementFormDefault="qualified" targetNamespace="http://PSI.Internal.WCF/WCFServices/Proposal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.92.150.84:55553/PSI.Internal.WCF/WCFServices/Proposals/ProposalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://10.92.150.84:55553/PSI.Internal.WCF/WCFServices/Proposals/ProposalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PSI.Internal.WCF.WCFServices.Proposals" />
  <xs:import schemaLocation="http://10.92.150.84:55553/PSI.Internal.WCF/WCFServices/Proposals/ProposalService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PSI.BL.BO.DocumentManagment" />
  <xs:import schemaLocation="http://10.92.150.84:55553/PSI.Internal.WCF/WCFServices/Proposals/ProposalService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PSI.BL.BO" />
  <xs:import schemaLocation="http://10.92.150.84:55553/PSI.Internal.WCF/WCFServices/Proposals/ProposalService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/PSI.BL.BO.Proposals" />
  <xs:element name="GetAllVendors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="companyId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PSI.Internal.WCF.WCFServices.Proposals" minOccurs="0" name="GetAllVendorsResult" nillable="true" type="q2:ArrayOfPSIAccountOutputObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyProposalStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PSI.Internal.WCF.WCFServices.Proposals" minOccurs="0" name="input" nillable="true" type="q3:ProposalStateChangedInputObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyProposalStateChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PSI.Internal.WCF.WCFServices.Proposals" minOccurs="0" name="NotifyProposalStateChangedResult" nillable="true" type="q4:ProposalStateChangedOutputObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendProposalDocumentsToManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PSI.BL.BO.DocumentManagment" minOccurs="0" name="PSIDocuments" nillable="true" type="q5:ArrayOfPSIDocument" />
        <xs:element minOccurs="0" name="proposalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloneProposalMasterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cloneId" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="recordId" type="q7:guid" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloneProposalMasterDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloneProposalGeneralData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cloneId" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newProposalId" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="recordId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloneProposalGeneralDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cloneId" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="proposalId" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateProposalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalsBySearchString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalsBySearchStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PSI.BL.BO" minOccurs="0" name="GetProposalsBySearchStringResult" nillable="true" type="q13:ArrayOfPSIListSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForWorkspaceProposalsBySearchString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForWorkspaceProposalsBySearchStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PSI.BL.BO" minOccurs="0" name="GetForWorkspaceProposalsBySearchStringResult" nillable="true" type="q14:ArrayOfPSIListSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalsByCustomerNIF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNIF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalsByCustomerNIFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PSI.BL.BO" minOccurs="0" name="GetProposalsByCustomerNIFResult" nillable="true" type="q15:ArrayOfPSIWSProposal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProposalDocTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProposalDocTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PSI.BL.BO.DocumentManagment" minOccurs="0" name="GetAllProposalDocTypesResult" nillable="true" type="q16:ArrayOfPSIDocumentTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProposalDocTypesFiltered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeExecutionDocuments" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProposalDocTypesFilteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PSI.BL.BO.DocumentManagment" minOccurs="0" name="GetAllProposalDocTypesFilteredResult" nillable="true" type="q17:ArrayOfPSIDocumentTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrateProposals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PSI.BL.BO.Proposals" minOccurs="0" name="listProposals" nillable="true" type="q18:ArrayOfPSIIntegrationProposal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrateProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PSI.BL.BO.Proposals" minOccurs="0" name="IntegrateProposalsResult" nillable="true" type="q19:ArrayOfPSIIntegrationProposal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrateProposalsDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegrateProposalsDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>