Service References/WebServicePSI/ProposalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://PSI.Internal.WCF/WCFServices/Proposal" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicHttpBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://PSI.Internal.WCF/WCFServices/Proposal" location="http://10.92.150.84:55553/PSI.Internal.WCF/WCFServices/Proposals/ProposalService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="basicHttpBinding" type="i0:IProposalService">
    <wsp:PolicyReference URI="#basicHttpBinding_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllVendors">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/GetAllVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyProposalStateChanged">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/NotifyProposalStateChanged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendProposalDocumentsToManager">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/SendProposalDocumentsToManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CloneProposalMasterData">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/CloneProposalMasterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloneProposalGeneralData">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/CloneProposalGeneralData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateProposal">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/ActivateProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProposalsBySearchString">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/GetProposalsBySearchString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForWorkspaceProposalsBySearchString">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/GetForWorkspaceProposalsBySearchString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProposalsByCustomerNIF">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/GetProposalsByCustomerNIF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProposalDocTypes">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/GetAllProposalDocTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProposalDocTypesFiltered">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/GetAllProposalDocTypesFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrateProposals">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/IntegrateProposals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntegrateProposalsDB">
      <soap:operation soapAction="http://PSI.Internal.WCF/WCFServices/Proposal/IProposalService/IntegrateProposalsDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>