Service References/wsFatintSAP/zws_salesorder_prov_fatint QAS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWS_SALESORDER_PROV_FATINT">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZWS_SALESORDER_PROV_FATINT_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZISQ_WS_CUST_ORDER_PROV_FATINT">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>0050560117121EEBA1CF8A2A125910E1</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZISQ_CREATE_CUST_ORDER_FATINT">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char17">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="17" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char24">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="ZISQ_S_HDR_SALES_ORDER">
        <xsd:sequence>
          <xsd:element name="DOC_TYPE" type="tns:char4" />
          <xsd:element name="SALES_ORG" type="tns:char4" />
          <xsd:element name="DIVISION" type="tns:char2" />
          <xsd:element name="DISTR_CHAN" type="tns:char2" />
          <xsd:element name="SALES_OFF" type="tns:char4" />
          <xsd:element name="PARTN_NUMB" type="tns:char10" />
          <xsd:element name="PMNTTRMS" type="tns:char4" />
          <xsd:element name="ZPURCH_DATE" type="tns:char10" />
          <xsd:element name="PURCH_NO_C" type="tns:char35" />
          <xsd:element name="BNAME" type="tns:char35" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZISQ_S_ITM_SALES_ORDER_FATINT">
        <xsd:sequence>
          <xsd:element name="PARTN_NUMB" type="tns:char10" />
          <xsd:element name="ITM_NUMBER" type="tns:numeric6" />
          <xsd:element name="MATERIAL" type="tns:char18" />
          <xsd:element name="SHORT_TEXT" type="tns:char40" />
          <xsd:element name="REQ_QTY" type="tns:char17" />
          <xsd:element name="COND_VALUE" type="tns:char30" />
          <xsd:element name="WBS_ELEM" type="tns:char24" />
          <xsd:element name="SALES_DIST" type="tns:char6" />
          <xsd:element name="ZFKDAT" type="tns:char10" />
          <xsd:element name="FPROZ" type="tns:char6" />
          <xsd:element name="FAKWR" type="tns:char20" />
          <xsd:element name="DTPSERV" type="tns:char20" />
          <xsd:element name="POSEX" type="tns:char6" />
          <xsd:element name="TEXT_TAB" type="tns:ZISQ_T_INTORDTX" />
          <xsd:element name="ZZDEP" type="tns:char10" />
          <xsd:element name="ZZCOD" type="tns:numeric10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZISQ_S_INTORDTX">
        <xsd:sequence>
          <xsd:element name="TPLIN" type="tns:char2" />
          <xsd:element name="TEXTL" type="tns:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZISQ_S_MESSAGE">
        <xsd:sequence>
          <xsd:element name="MESSAGE_TYPE" type="tns:char1" />
          <xsd:element name="MESSAGE_CODE" type="tns:numeric3" />
          <xsd:element name="MESSAGE" type="tns:char220" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZISQ_T_ITM_SALES_ORDER_FATINT">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZISQ_S_ITM_SALES_ORDER_FATINT" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZISQ_T_INTORDTX">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZISQ_S_INTORDTX" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZISQ_T_MESSAGE">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZISQ_S_MESSAGE" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZISQ_CREATE_CUST_ORDER_FATINT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IS_HDR_SALES_ORDER" type="tns:ZISQ_S_HDR_SALES_ORDER" />
            <xsd:element name="IT_ITM_SALES_ORDER" type="tns:ZISQ_T_ITM_SALES_ORDER_FATINT" />
            <xsd:element minOccurs="0" name="IV_FAKSP" type="tns:char2" />
            <xsd:element minOccurs="0" name="IV_TEST" type="tns:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZISQ_CREATE_CUST_ORDER_FATINTResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_MESSAGES" type="tns:ZISQ_T_MESSAGE" />
            <xsd:element name="EV_ORDER" type="tns:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZISQ_CREATE_CUST_ORDER_FATINT">
    <wsdl:part name="parameters" element="tns:ZISQ_CREATE_CUST_ORDER_FATINT" />
  </wsdl:message>
  <wsdl:message name="ZISQ_CREATE_CUST_ORDER_FATINTResponse">
    <wsdl:part name="parameter" element="tns:ZISQ_CREATE_CUST_ORDER_FATINTResponse" />
  </wsdl:message>
  <wsdl:portType name="ZISQ_WS_CUST_ORDER_PROV_FATINT">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZISQ_WS_CUST_ORDER_PROV_FATINT" />
    </wsp:Policy>
    <wsdl:operation name="ZISQ_CREATE_CUST_ORDER_FATINT">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZISQ_CREATE_CUST_ORDER_FATINT" />
      </wsp:Policy>
      <wsdl:input message="tns:ZISQ_CREATE_CUST_ORDER_FATINT" />
      <wsdl:output message="tns:ZISQ_CREATE_CUST_ORDER_FATINTResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_SALESORDER_PROV_FATINT" type="tns:ZISQ_WS_CUST_ORDER_PROV_FATINT">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_SALESORDER_PROV_FATINT" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZISQ_CREATE_CUST_ORDER_FATINT">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZISQ_WS_CUST_ORDER_PROV_FATINT:ZISQ_CREATE_CUST_ORDER_FATINTRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_SALESORDER_PROV_FATINT_soap12" type="tns:ZISQ_WS_CUST_ORDER_PROV_FATINT">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_SALESORDER_PROV_FATINT_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZISQ_CREATE_CUST_ORDER_FATINT">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZISQ_WS_CUST_ORDER_PROV_FATINT:ZISQ_CREATE_CUST_ORDER_FATINTRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_SALESORDER_PROV_FATINT">
    <wsdl:port name="ZWS_SALESORDER_PROV_FATINT" binding="tns:ZWS_SALESORDER_PROV_FATINT">
      <soap:address location="http://CLDSAPQAL02.isq.local:8000/sap/bc/srt/rfc/sap/zisq_ws_cust_order_prov_fatint/500/zws_salesorder_prov_fatint/zws_salesorder_prov_fatint" />
    </wsdl:port>
    <wsdl:port name="ZWS_SALESORDER_PROV_FATINT_soap12" binding="tns:ZWS_SALESORDER_PROV_FATINT_soap12">
      <wsoap12:address location="http://CLDSAPQAL02.isq.local:8000/sap/bc/srt/rfc/sap/zisq_ws_cust_order_prov_fatint/500/zws_salesorder_prov_fatint/zws_salesorder_prov_fatint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>